

body {
	
	font-family: helvetica;
	text-align: center;

}

h1 {
	color: white;
	font-weight: bold;
	font-size: 70px;

}

#home {
	background-image: url(./../media/the-flatiron-building.png);

}

nav ul li a {
	color: white;
	font-size: 18px;

}

nav ul {
	list-style-type: none;
}

#process {
	background-color: white;
}



#process h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

 p {
	font-size: 14px;
}

#designed {
	background-image: url(./../media/the-flatiron-building.png);
}

#designed h2 {
	font-size: 23px;
	font-weight: bold;
	color: white;
}

#copyright {
	font-size: 11px;
	color: white;
	
}

#bottom {
	background-color: dimgray;
	text-align: left;

}

#bottom a{
	color: white;
}
